<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="120"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBaoCaoServices"/>
        <binding name="BasicHttpBinding_IDongBoDBServices"/>
        <binding name="BasicHttpBinding_IGiamSatServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:24166/Services/BaoCaoServices.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IBaoCaoServices" 
                contract="BaoCaoServiceReference.IBaoCaoServices" 
                name="BasicHttpBinding_IBaoCaoServices"/>
      <endpoint address="http://localhost:24166/Services/DongBoDBServices.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IDongBoDBServices" 
                contract="DongBoDBServiceReference.IDongBoDBServices" 
                name="BasicHttpBinding_IDongBoDBServices"/>
      <endpoint address="http://localhost:24166/Services/GiamSatServices.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGiamSatServices"
                contract="GiamSatServiceReference.IGiamSatServices"
                name="BasicHttpBinding_IGiamSatServices">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>